.button {
    display: block;
    padding: 12px;
    border: none;
    background-color: #1b1b1b;
    color: #888;
    cursor: pointer;
}

.button_intent_primary {
    background-color: #111;
}

.button_intent_secondary {
    background-color: #1b1b1b;
}

.text {

}